a {
  text-decoration: none;
}

.app-content {
  background-color: #ccc;
  padding: 20px;
  height: 100vh;
  position: relative;
  .page-content {
    position: absolute;
    top: 10px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
  }
}