.shop-header {
  height: 80px;
  line-height: 80px;
  background-color: #091738;
  font-size: 24px;
  nav {
    margin-left: 20px;
  }
  a {
    display: block;
    height: 100%;
    padding: 0 20px;
    color: #fff;
    float: left;
  }
}

.link-active {
  background-color: blue;
}